In [49]:
#1. LISTS

#Daily temp collected from sensors
daily_temp = [32.5, 32.2, 33.0, 35.0, 34.1, 36.1, 35.4]
print(f'Average Temperature: {(sum(daily_temp)/len(daily_temp))}')

Average Temperature: 34.042857142857144

In [50]:
#Accessing Element
print(daily_temp[4]) #value in the 4th place

34.1

In [51]:
#Slicing
print(daily_temp[-5:-1])
print(daily_temp[:3]) #first three values

daily_temp[0] = 33.7 #Changing values
print(daily_temp)

[33.0, 35.0, 34.1, 36.1]
[32.5, 32.2, 33.0]
[33.7, 32.2, 33.0, 35.0, 34.1, 36.1, 35.4]

In [52]:
#Append, adding a new value
daily_temp.append(36.2)
print(daily_temp)

[33.7, 32.2, 33.0, 35.0, 34.1, 36.1, 35.4, 36.2]

In [53]:
#Insert a new value on SPECIFIC position
daily_temp.insert(3, 33.6)
print(daily_temp)

[33.7, 32.2, 33.0, 33.6, 35.0, 34.1, 36.1, 35.4, 36.2]

In [54]:
#Removing a value
daily_temp.remove(36.2)
print(daily_temp)

[33.7, 32.2, 33.0, 33.6, 35.0, 34.1, 36.1, 35.4]

In [55]:
#Minimum and Maximum
print(f'Minimum Temperature: {min(daily_temp)}')
print(f'Maximum Temperature: {max(daily_temp)}')

Minimum Temperature: 32.2
Maximum Temperature: 36.1

In [56]:
#Sort, in ascending order
daily_temp.sort()
print(daily_temp)

[32.2, 33.0, 33.6, 33.7, 34.1, 35.0, 35.4, 36.1]

In [57]:
#Sorting a list while doubling it
double_daily_temp = sorted(daily_temp * 2)
print(double_daily_temp)

[32.2, 32.2, 33.0, 33.0, 33.6, 33.6, 33.7, 33.7, 34.1, 34.1, 35.0, 35.0, 35.4, 35.4, 36.1, 36.1]

In [58]:
#Deleting 4th element
del daily_temp[4]
print(daily_temp)

[32.2, 33.0, 33.6, 33.7, 35.0, 35.4, 36.1]

In [59]:
#2. TUPLES - cannot change the tuple
#Daily temp collected from sensors
daily_temp = (32.5, 32.2, 33.0, 35.0, 34.1, 36.1, 35.4)
temp = (33.6, 37.4)

In [60]:
#Combine
print(daily_temp + temp)

(32.5, 32.2, 33.0, 35.0, 34.1, 36.1, 35.4, 33.6, 37.4)

In [61]:
#Accessing Element
print(daily_temp[4]) #value in the 4th place

34.1

In [62]:
#Slicing
print(daily_temp[-5:-1])
print(daily_temp[:3]) #first three values

(33.0, 35.0, 34.1, 36.1)
(32.5, 32.2, 33.0)

In [63]:
#Multiplying Lists
print(daily_temp *2)

(32.5, 32.2, 33.0, 35.0, 34.1, 36.1, 35.4, 32.5, 32.2, 33.0, 35.0, 34.1, 36.1, 35.4)

In [64]:
#Find Index Value
print(daily_temp.index(35.4))

6

In [65]:
#Convert tuple to list
temp_list = list(daily_temp)
print(temp_list)

[32.5, 32.2, 33.0, 35.0, 34.1, 36.1, 35.4]

In [66]:
#Convert list to tuple
temp_tuple = tuple(daily_temp)
print(temp_tuple)

(32.5, 32.2, 33.0, 35.0, 34.1, 36.1, 35.4)